/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  --padding: 100px;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.home {
  background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.destination {
  background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.destination .description {
  width: 100%;
}
.destination .description span {
  font-size: 2rem;
  font-family: var(--ff-serif);
  color: #fff;
  text-transform: uppercase;
  line-height: 2;
}
.destination .description p {
  color: #D0D6F9;
  font-family: var(--ff-sans-normal);
  width: 100%;
}

.crew {
  background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.technology {
  background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: relative;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-top: 30px;
}
header::after {
  width: 30%;
  height: 1px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.461);
  content: "";
  left: 180px;
  z-index: -1;
}
header .menu {
  display: none;
}
header .logo {
  padding: var(--padding);
}
header nav {
  width: 60%;
  height: 100%;
  background: rgba(255, 255, 255, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
header nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
header nav ul li a span {
  color: rgb(255, 255, 255);
  margin-right: 5px;
}
header nav ul li:not(:first-child) {
  margin-left: 30px;
}
header nav ul li::after {
  position: absolute;
  width: 0;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.578);
  bottom: 0;
  left: 0;
  content: "";
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
header nav ul li:hover::after {
  width: 100%;
}
header nav ul li.active::after {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.container {
  padding-inline: var(--padding);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.container main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 80px;
}
.container main .left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container main .left h1 {
  color: #D0D6F9;
  font-family: var(--ff-sans-cond);
  letter-spacing: 3px;
}
.container main .left h1 span {
  font-size: var(--fs-900);
  font-family: var(--ff-serif);
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
}
.container main .left img {
  margin-top: 50px;
  width: 350px;
}
.container main .left h2 {
  color: #D0D6F9;
  font-family: var(--ff-sans-cond);
  letter-spacing: 3px;
}
.container main .left h2 span {
  font-size: var(--fs-700);
  color: rgba(255, 255, 255, 0.631);
  text-transform: uppercase;
  line-height: 1.3;
}
.container main .left p {
  color: #D0D6F9;
  font-family: var(--ff-sans-normal);
  width: 350px;
}
.container main .left p span {
  font-size: var(--fs-700);
  font-family: var(--ff-serif);
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 100px 0;
}
.container main .left .description {
  width: 100%;
}
.container main .left .description span {
  font-size: 2rem;
  font-family: var(--ff-serif);
  color: #fff;
  text-transform: uppercase;
  line-height: 2;
}
.container main .left .description p {
  color: #D0D6F9;
  font-family: var(--ff-sans-normal);
  width: 100%;
}
.container main .left .role h3 {
  color: rgba(255, 255, 255, 0.699);
  font-family: var(--ff-serif);
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 80px;
}
.container main .left .dots {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: transparent;
  justify-content: space-between;
}
.container main .left .dots .dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.489);
  border-radius: 50%;
  margin-top: 50px;
  cursor: pointer;
}
.container main .left .dots .active {
  background-color: rgb(255, 255, 255);
}
.container main .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.container main .right img {
  width: 370px;
}
.container main .right .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  background-color: #fff;
  color: black;
  font-family: var(--ff-serif);
  border-radius: 50%;
  font-size: var(--fs-600);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.container main .right .btn:hover {
  box-shadow: 0px 0px 0px 60px rgba(255, 255, 255, 0.265);
}
.container main .right .des-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.container main .right .des-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.container main .right .des-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.container main .right .des-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.container main .right .des-menu ul li a span {
  color: rgb(255, 255, 255);
  margin-right: 5px;
}
.container main .right .des-menu ul li:not(:first-child) {
  margin-left: 30px;
}
.container main .right .des-menu ul li::after {
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.578);
  bottom: -10px;
  left: 0;
  content: "";
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.container main .right .des-menu ul li:hover::after {
  width: 100%;
}
.container main .right .des-menu ul li.active::after {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.container main .right .name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.container main .right .name h1 {
  font-size: var(--fs-900);
  font-family: var(--ff-serif);
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
  margin-top: 20px;
}
.container main .right .info {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.492);
}
.container main .right .info h2,
.container main .right .info h3 {
  color: #fff;
  font-family: var(--ff-serif);
  text-transform: uppercase;
  width: 100%;
  font-size: 28px;
}
.container main .right .info h2 {
  font-size: 14px;
}
.container main .right .info .top,
.container main .right .info .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.technology .container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.technology .container .name {
  position: absolute;
  top: 50px;
  left: 100px;
}
.technology .container .name h2 {
  color: #D0D6F9;
  font-family: var(--ff-sans-cond);
  letter-spacing: 3px;
}
.technology .container .name h2 span {
  font-size: var(--fs-700);
  color: rgba(255, 255, 255, 0.631);
  text-transform: uppercase;
  line-height: 1.3;
}
.technology .container main {
  padding-left: var(--padding);
}
.technology .container .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
}
.technology .container .content .spans {
  grid-area: 1/1/6/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.technology .container .content .spans li {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-family: var(--ff-serif);
  color: rgb(255, 255, 255);
  border: solid 1px #fff;
  font-size: 1.3rem;
  cursor: pointer;
  list-style-type: none;
  overflow: hidden;
}
.technology .container .content .spans li:not(:first-child) {
  margin-top: 30px;
}
.technology .container .content .spans li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-family: var(--ff-serif);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}
.technology .container .content .spans li a:hover {
  background-color: rgba(255, 255, 255, 0.66);
  color: black;
}
.technology .container .content .spans li a.active {
  background-color: #fff;
  color: black;
}
.technology .container .content .text {
  grid-area: 1/2/6/4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.technology .container .content .text span {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: var(--ff-sans-normal);
  text-transform: uppercase;
  letter-spacing: 4;
  align-self: flex-start;
  margin-bottom: 30px;
}
.technology .container .content .text h2 {
  font-family: var(--ff-serif);
  color: #fff;
  text-transform: uppercase;
  font-size: 2.45rem;
}
.technology .container .content .text p {
  color: #D0D6F9;
  font-family: var(--ff-sans-normal);
  width: 100%;
}
.technology .container .content .image {
  grid-area: 1/4/6/6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  align-content: flex-en;
  width: 400px;
  height: 450px;
}

.vehicle {
  background-image: url(../starter-code/assets/technology/image-launch-vehicle-portrait.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.capsule {
  background-image: url(../starter-code/assets/technology/image-space-capsule-portrait.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.spaceport {
  background-image: url(../starter-code/assets/technology/image-spaceport-portrait.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

@media (min-width: 769px) and (max-width: 979px) {
  :root {
    --padding: 50px ;
  }
  header {
    position: relative;
    margin-top: 0px;
  }
  header::after {
    width: 30%;
    height: 1px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.461);
    content: "";
    left: 180px;
    z-index: -1;
    display: none;
  }
  header nav {
    margin-top: 0;
    width: 450px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  header nav ul {
    margin-right: 10px;
  }
  header nav ul li a {
    font-size: 14px;
  }
  header nav ul li:not(:first-child) {
    margin-left: 10px;
  }
  header .menu {
    display: none;
  }
  .container main .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container main .left h1 {
    text-align: center;
  }
  .container main .left h2 {
    align-self: flex-start;
  }
  .container main .left p {
    text-align: center;
  }
  .container main .left img {
    width: 320px;
  }
  .container main .left .description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container main .left .description span {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container main .right img {
    width: 250px;
  }
  .container main .right .btn {
    width: 240px;
    height: 240px;
    margin-top: 50px;
  }
  .container main .right .des-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container main .right .des-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container main .right .name,
.container main .right .description,
.container main .right .info,
.container main .right .description span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  :root {
    --padding: 10px ;
  }
  body {
    position: relative;
    overflow-x: hidden;
  }
  header {
    margin-top: 0;
  }
  header nav {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    position: absolute;
    height: 100%;
    width: 0;
    transform: translateX(200%);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    z-index: 9999;
  }
  header nav ul {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
  }
  header nav ul li {
    align-items: flex-start;
    height: 40px;
    margin-top: 0px;
  }
  header nav ul li:not(:first-child) {
    margin-left: 0px;
  }
  header nav ul li:hover::after {
    width: 0%;
  }
  header nav ul li.active::after {
    width: 0%;
    background-color: rgb(255, 255, 255);
  }
  header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.864);
    font-family: var(--ff-sans-cond);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  header nav ul li a span {
    color: rgb(255, 255, 255);
    margin-right: 5px;
  }
  header nav .menu {
    display: flex;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 40px;
    cursor: pointer;
  }
  header nav.show {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: 70%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .container main .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container main .left h1 {
    text-align: center;
  }
  .container main .left p {
    text-align: center;
  }
  .container main .left img {
    width: 200px;
  }
  .container main .left .description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .container main .left .description span {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container main .left .description p {
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container main .right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container main .right img {
    width: 300px;
    margin-top: 50px;
  }
  .container main .right .btn {
    width: 240px;
    height: 240px;
    margin-top: 50px;
  }
  .container main .right .des-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container main .right .des-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .container main .right .name {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container main .right .description,
.container main .right .info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .technology .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--padding);
    flex-direction: column;
    position: relative;
  }
  .technology .container .name {
    position: absolute;
    top: 10px;
    left: 30%;
    width: 100%;
  }
  .technology .container .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 12px;
  }
  .technology .container .content .image {
    grid-area: 1/1/3/6;
    width: 100%;
    height: 300px;
    margin: 0;
  }
  .technology .container .content .spans {
    grid-area: 3/1/4/6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  .technology .container .content .spans li:not(:first-child) {
    margin-top: 0px;
    margin-left: 30px;
  }
  .technology .container .content .text {
    grid-area: 4/1/6/6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .technology .container .content .text span {
    width: 100%;
    text-align: center;
  }
  .technology .container .content .text p {
    width: 100%;
    text-align: center;
  }
  .technology .container .vehicle {
    background-image: url(../starter-code/assets/technology/image-launch-vehicle-landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .technology .container .capsule {
    background-image: url(../starter-code/assets/technology/image-space-capsule-landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .technology .container .spaceport {
    background-image: url(../starter-code/assets/technology/image-spaceport-landscape.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
}
/*
hidden class
*/
.loader {
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.loader .loading {
  width: 80px;
  height: 50px;
  position: relative;
}
.loader .loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #1b3651;
  font-family: "Oxygen", sans-serif;
  -webkit-animation: text 3.5s ease both infinite;
          animation: text 3.5s ease both infinite;
  font-size: 12px;
  letter-spacing: 1px;
}
@-webkit-keyframes text {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}
@keyframes text {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}
.loader .loading span {
  background-color: #1b3651;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  -webkit-animation: loading 3.5s ease both infinite;
          animation: loading 3.5s ease both infinite;
}
.loader .loading span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #a6dcee;
  border-radius: inherit;
  -webkit-animation: loading2 3.5s ease both infinite;
          animation: loading2 3.5s ease both infinite;
}
@-webkit-keyframes loading {
  0% {
    width: 16px;
    transform: translateX(0px);
  }
  40% {
    width: 100%;
    transform: translateX(0px);
  }
  80% {
    width: 16px;
    transform: translateX(64px);
  }
  90% {
    width: 100%;
    transform: translateX(0px);
  }
  100% {
    width: 16px;
    transform: translateX(0px);
  }
}
@keyframes loading {
  0% {
    width: 16px;
    transform: translateX(0px);
  }
  40% {
    width: 100%;
    transform: translateX(0px);
  }
  80% {
    width: 16px;
    transform: translateX(64px);
  }
  90% {
    width: 100%;
    transform: translateX(0px);
  }
  100% {
    width: 16px;
    transform: translateX(0px);
  }
}
@-webkit-keyframes loading2 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }
  40% {
    transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0px);
  }
  90% {
    width: 80%;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
@keyframes loading2 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }
  40% {
    transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0px);
  }
  90% {
    width: 80%;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
    width: 16px;
  }
}/*# sourceMappingURL=style.css.map */